html{
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
}

.layout{
  display: flex;
}
.nav{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
  font-size: 2rem;
}
.user-name{
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}
.user-role{
  margin-top: 0;
  opacity: 0.4;
}
.navlist{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 1rem;
  
}
.navlist li{
  font-size: 1.2rem;
}
.logout{
  font-size: 1.2rem;
}
.header{
  display: flex;
  align-items: center;
}
.header-h1{
  font-size: 1.8rem;
}
.select{
  padding: 0.4rem;
  margin-left: 12rem;
  border-radius: 12px;
  border: none;
  height: 30px;
}
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}